---
import product_call_to_action from '../../assets/product_call_to_action.png'
import Image from 'astro/components/Image.astro'
---

<section class='relative py-20 mt-16 lg:mt-32'>
  <div class='absolute inset-0 z-0'>
    <Image
      src={product_call_to_action}
      alt='Product background'
      class='w-full h-full object-cover filter blur-xs'
    />
    <div class='absolute inset-0 bg-[#001E61]/70'></div>
  </div>
  <div class='container mx-auto px-4 relative z-10'>
    <div class='flex flex-col items-center text-center'>
      <h2 class='text-4xl md:text-5xl font-medium text-white mb-6'>
        Khám phá sản phẩm cung cấp bởi chúng tôi
      </h2>
      <p class='text-xl text-white/80 mb-10 max-w-2xl'>
        Từ bao bì thực phẩm đến bao bì công nghiệp, chúng tôi có giải pháp phù
        hợp cho mọi nhu cầu của bạn.
      </p>
      <a
        href='/products'
        class='bg-[#F3C241] text-[#001E61] px-5 py-3 rounded-full text-lg font-medium transition-transform hover:scale-105 hover:shadow-lg inline-flex items-center'
      >
        Xem sản phẩm
        <svg
          class='w-5 h-5 ml-2'
          fill='none'
          stroke='currentColor'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M14 5l7 7m0 0l-7 7m7-7H3'></path>
        </svg>
      </a>
    </div>
  </div>
</section>
