---
import logo from '../../assets/logo.png'
import Image from 'astro/components/Image.astro'
---

<header class='top-0 bg-none w-full'>
  <div class='container mt-4 py-4'>
    <div class='flex items-center justify-between'>
      <Image src={logo} alt='Van Phu Binh Logo' height={140} width={140} />
      <nav
        class='hidden md:flex gap-4 lg:gap-8 text-black/60 items-center text-lg'
      >
        <a href='#' class='hover:text-[#001E61] transition-colors duration-300'
          >Trang chủ</a
        >
        <a href='#' class='hover:text-[#001E61] transition-colors duration-300'
          >Về chúng tôi</a
        >
        <a href='#' class='hover:text-[#001E61] transition-colors duration-300'
          >Sản phẩm</a
        >
        <a href='#' class='hover:text-[#001E61] transition-colors duration-300'
          >Dịch vụ</a
        >
        <a
          href='/products'
          class='bg-[#F3C241] text-[#001E61] px-5 py-3 rounded-full text-lg font-semibold transition-transform hover:scale-105 hover:shadow-lg inline-flex items-center'
        >
          Liên hệ
        </a>
      </nav>
    </div>
  </div>
</header>
