<section class='mt-16 lg:mt-32'>
  <div class='container grid grid-cols-1 lg:grid-cols-2'>
    <div class=''>
      <h2
        class='text-3xl md:text-4xl font-medium text-[#001E61] my-4 capitalize'
      >
        Quy mô
      </h2>
      <p class='text-lg text-black/60 max-w-2xl my-4'>
        Vạn Phú Bình tự hào về những con số ấn tượng, minh chứng cho sự phát
        triển và cam kết của chúng tôi với khách hàng
      </p>
    </div>

    <div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
      <div class='text-center flex flex-col items-center'>
        <svg
          class='w-12 h-12 text-[#F3C241] mb-4'
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z'></path>
        </svg>
        <p class='text-4xl font-medium text-[#F3C241] mb-2'>14+</p>
        <p class='text-lg text-[#001E61]'>Năm kinh nghiệm</p>
      </div>
      <div class='text-center flex flex-col items-center'>
        <svg
          class='w-12 h-12 text-[#F3C241] mb-4'
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4'
          ></path>
        </svg>
        <p class='text-4xl font-medium text-[#F3C241] mb-2'>11,000 m²</p>
        <p class='text-lg text-[#001E61]'>Diện tích nhà máy</p>
      </div>
      <div class='text-center flex flex-col items-center'>
        <svg
          class='w-12 h-12 text-[#F3C241] mb-4'
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2'
          ></path>
        </svg>
        <p class='text-4xl font-medium text-[#F3C241] mb-2'>20 tấn</p>
        <p class='text-lg text-[#001E61]'>Công suất sản xuất hàng tháng</p>
      </div>
      <div class='text-center flex flex-col items-center'>
        <svg
          class='w-12 h-12 text-[#F3C241] mb-4'
          fill='none'
          stroke='currentColor'
          stroke-width='1.5'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4'
          ></path>
        </svg>
        <p class='text-4xl font-medium text-[#F3C241] mb-2'>1000+</p>
        <p class='text-lg text-[#001E61]'>Dự án đã hoàn thành</p>
      </div>
    </div>
  </div>
</section>
